body{
  
  padding: 0;
  margin: 0;
  background-image:linear-gradient(to bottom , rgba(0, 0, 0, 0.278) , rgba(0, 0, 0, 0.508)) , url(/w04825-small.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#container{
  width: 100%;
  height: 100vh;
}

#rain-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#rain{
  position: absolute;
  top: -10px;
  width: 1px;
  background-color: #9099a1 ;
  box-shadow: 0 0 5px rgb(1, 144, 144);
}

@keyframes rain-animation {
  
  from {
    top: -10px;
  }


  to {
    top: 150%;
  }
}